.footer {
    bottom: 0;
    /*position: absolute;*/
    width: 100%;
    background-image: linear-gradient(to left, black, #353535);
    height: 40px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media screen and (max-width: 990px) {
    .footer {
        bottom: 0;
        position: unset;
    }
}